@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "Inter", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}
